{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-4">Reset Password</h2>
    <form method="POST" action="{{ url_for('routes.reset_password', id=user.id) }}">
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
        <a href="{{ url_for('routes.account') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}